.bucket-page {
  background: white;
}
.header-section {
  background: #f2f3f3;
}

.table-body {
  background: white;
  height: 100%;
}

.breadcrums {
  align-items: center;
  margin: 20px 0;
  display: flex;
}