.buckets-table {
  background: #f2f3f3;
  margin: 0 auto;
  width: 75%;
  box-shadow: 0px 1px 1px 1px #8e999d;
}

.table-head-container {
  background: #fafafa;
}

.table-text {
  display: inline-block;
  margin: 20px;
}

.table-bucket-text {
  font-size: larger;
  font-weight: 700;
  font-family: sans-serif;
}

.table-bucket-nums {
  font-size: larger;
  font-weight: 400;
  font-family: sans-serif;
  color: #8e999d;
}

table {
  background: white;
  width: 100%;
}

thead {
  border-top: 0.1px solid #c5cbce;
  border-bottom: 0.1px solid #c5cbce;
  background: #fafafa;
  display: flex;
}

th,
td {
  min-width: 100px;
  text-align: start;
  padding: 15px 20px;
}

tbody {
  background: white;
}
